body {

}



br {
    break-before: page;
    page-break-before: always;
    break-after: page;
}

ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

pre {
    overflow: hidden
}

p {
    display: flex;
    border: solid black;
    margin: 0 0 0 0

}

blockquote {
    padding: 0 0 0 0;
    margin: unset
}

p > * {
    flex: 1;
    /*! margin: 0 0 0 0; */
    align-content: normal;
}

li {
    list-style: none

}

li > p {
    border: none;
    overflow: hidden;
    display: block print cheatsheet

}

tr.context:nth-child(2n) {
    background-color: lightgrey;
}

tr.blank {
    background-color: white;
}

tr td:first-child {
    font-weight: bold;
}

table {
    border: 1px solid black;
    padding: 3px;
    margin: 10px;
    margin-left: 20px;
}

th {
    border: 1px solid black;

    text-align: left;
    background-color: darkblue;
    color: white;
}

table.contexts th {
    border: 1px solid black;Prince cheatsheet

    text-align: left;
    background-color: darkgreen;
    color: white;
}
